@model EcommerceWeb.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.ImageName)*@
            Image
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.ImageName)*@
            <img src="~/Image/@Model.ImageName" width="20%" style="border-radius: 5px; border: 1px solid #efefef" />
        </dd>
          
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTypes.ProductType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
